@import url('https://fonts.googleapis.com/css?family=BioRhyme|Saira|Space+Mono');

#root {
	text-align: center;
	/* font-family: 'BioRhyme', serif; */
font-family: 'Space Mono', monospace;
/* font-family: 'Saira', sans-serif; */
}

.App {
  text-align: center;
	/* font-family: 'BioRhyme', serif; */
font-family: 'Space Mono', monospace;
/* font-family: 'Saira', sans-serif; */
}

.button {
	font-family: 'Space Mono', monospace;
  background-color: #000;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
	border-radius:3px;
}

.header-btn {
  background-color: black;
  color: white;
  border: 2px solid #000;
}

.header-btn:hover {
  background-color: #fff;
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
